:root {
  --color-primary: #dc2626;
  --color-primary-dark: #450a0a;
  --color-primary-light: #ef4444;

  --color-secondary: #3e505c;

  --color-grey: #a3a3a3;

  --header-primary-color: #dbb425;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  font-size: 62.5%;
  background: var(--color-secondary);
}

.header {
  text-align: center;
  padding: 2rem 0;
}

.main {
}

.container {
  width: 80%;
  max-width: 100rem;
  background: linear-gradient(
    135deg,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  padding: 2rem 0;
}

.header-primary {
  font-size: 4.4rem;
  font-family: "Playfair", serif;
  color: var(--header-primary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.btn {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  background: var(--color-grey);
  border-radius: 8px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: trnsform 0.3s ease;
}

.btn:hover {
  animation: pulse 1s infinite;
}

.btn:active {
  animation: none;
  transform: scale(0.9);
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 4rem;
  padding: 2rem;
}

.card {
  font-family: "Lato", sans-serif;
  background: var(--color-primary);
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.header-secondary {
  font-size: 2.4rem;
}

.header-tertiary {
  font-size: 2rem;
}

.card p {
  font-size: 1.8rem;
}

.dialog {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  width: 40rem;
  min-width: 15rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.bookData {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.bookData input {
  border-radius: 10px;
  border: 1px solid var(--color-grey);
}

.bookData input:focus {
  outline: 4px solid var(--color-primary);
  border: none;
}

.bookData label {
  justify-self: start;
}

.formBtns {
  display: flex;
  gap: 2rem;
}

.formBtns button {
  flex: 1;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.formBtns button:hover {
  background: var(--color-grey);
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.dialog {
  animation: fade-out 0.7s ease-out;
}

.dialog[open] {
  animation: fade-in 0.7s ease-out;
}

.dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }
}
