:root {
  --color-primary: #dc2626;
  --color-primary-dark: #450a0a;
  --color-primary-light: #ef4444;

  --color-secondary: #3e505c;

  --color-grey: #a3a3a3;

  --header-primary-color: #dbb425;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  font-size: 62.5%;
  background: var(--color-secondary);
}

.header {
  text-align: center;
  padding: 2rem 0;
}

.main {
}

.container {
  width: 80%;
  max-width: 100rem;
  background: linear-gradient(
    135deg,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}

.header-primary {
  font-size: 4.4rem;
  font-family: "Playfair", serif;
  color: var(--header-primary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.btn {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  background: var(--color-grey);
  border-radius: 8px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: trnsform 0.3s ease;
}

.btn:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn:active {
  animation: none;
  transform: scale(0.9);
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 4rem;
  padding: 2rem;
}

.card {
  font-family: "Lato", sans-serif;
  background: var(--color-primary);
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.header-secondary {
  font-size: 2.4rem;
}

.header-tertiary {
  font-size: 2rem;
}

.card p {
  font-size: 1.8rem;
}
