:root {
  --color-primary: #dc2626;
  --color-primary-dark: #450a0a;
  --color-primary-light: #ef4444;

  --color-secondary: #3e505c;
  --text-color: #dbb425;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.body {
  font-size: 62.5%;
}

.main {
  background: var(--color-secondary);
}

.container {
  width: 80%;
  max-width: 100rem;
  background: linear-gradient(
    135deg,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  padding: 2rem 0;
}

.header-primary {
  font-size: 3.6rem;
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.card {
}
